/*
TABLE OF CONTENT:
1. FONTS & COLORS
1. GENERAL (HTML, BODY, general styling)
2. CONSOLE
	2.1 PROMPT
	2.2 CONSOLE OUT 
*/

/*--------------- FONTS & COLORS --------------*/

:root {
	--cyan:#8FBCBB;
	--dark:#1a1e21;
	--blue: #81A1C1;
	--darkblue:#5E81AC;
	--orange: #D08770;
	--yellow:#EBCB8B;
	--green:#A3BE8C;
	--pink:#B48EAD;
	--red:#BF616A;
	--white:#D8DEE9;

  }
/*--------------- GENERAL --------------*/

html, body, .main-screen {
	height: 100%;
	max-height:100vw;
}
.main-screen {
	padding:3rem; 
}

body{
	color: #FFFFFF;
	font-size: 20px;
	font-family: 'FantasqueSansMonoRegular';
	font-weight: normal;
	font-style: normal; 
	background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}


/*--------------- CONSOLE --------------*/
.console-wrapper {
	background-color: var(--dark);
	opacity: 0.95;
}
.floating {
	height:600px;
	width:800px;
	margin:auto;
	margin-top: 10%;

}

.fullscreen {
	height:100%;
	width:100%;
}


#console {

	height: 100%;
	padding:5rem;
}

/*--------------- PROMPT --------------*/
.prompt-line {
	margin-bottom:1rem;
}

#prompt {
	color: var(--green);
}

#wd {
	color: var(--cyan);
}
.prompt-wrapper {
float: left;
margin-right: 1rem;

}
.form-wrapper {
 width: auto;
 overflow: hidden;
}

input 	{
	width:100%;
	outline: none !important;
	background: none;
	border: none;
	color: #FFF;
	font-size: 1em;
}


form {
	display: inline;
}

/*--------------- CONSOLE OUT --------------*/


/* Hide scrollbar for Chrome, Safari and Opera */
.console-out::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE and Edge and firefox */
  .console-out {
	-ms-overflow-style: none;
	scrollbar-width: none;
  }

.console-out {

	max-height: 100%;
	overflow:scroll;
}

.console-out a {
	display: block;
	color: white;
}

.console-out .error {
	color: var(--red);
}
.console-out .success {
	color: var(--green);
}
.console-out .link {
	color: var(--blue);
}
.console-out .directory {
	color: var(--cyan);
}